{% extends "base.html" %}

{% block content %}
  {{ super() }}
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/63750288b0d6371309cf602a/1gi0h3phf';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<script src="https://giscus.app/client.js"
        data-repo="imattdu/imattdu.github.io"
        data-repo-id="R_kgDOHQylZg"
        data-category="Announcements"
        data-category-id="DIC_kwDOHQylZs4CO3wc"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="light"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
